.events .badge {
  font-size: large;
  color: red;
  background-color: blue;
  padding: 20px 20px 20px 20px;
}

.badging {
  font-size: large;
  color: red;
  background-color: blue;
  padding: 20px 20px 20px 20px;
}
