<div class="maindashboard-container">
  <div class="events-container">
    <h2>Welcome to the Trip Dashboard!</h2>
    <div class="events-list">
      <span class="column-name">Day 1 {{Working}}</span>
      <!-- <div>
        <input #date (keyup.enter)="datefinder(date.value)" placeholder="Date"/>
      </div> -->
      <app-evententry *ngFor="let eventEntry of eventsDayOne" [eventEntry]="eventEntry" (eventClick)="deleteEvents($event)"></app-evententry>
    </div>
    <div class="events-list">
      <span class="column-name">Day 2</span>
      <!-- <div>
        <input #date (keyup.enter)="datefinder(date.value)" placeholder="Date"/>
      </div> -->
      <app-evententry *ngFor="let eventEntry of eventsDayTwo" [eventEntry]="eventEntry" (eventClick)="deleteEvents($event)"></app-evententry>
    </div>
    <div class="events-list">
      <span class="column-name">Day 3</span>
      <!-- <div>
        <input #date (keyup.enter)="datefinder(date.value)" placeholder="Date"/>
      </div> -->
      <app-evententry *ngFor="let eventEntry of eventsDayThree" [eventEntry]="eventEntry" (eventClick)="deleteEvents($event)"></app-evententry>
    </div>
  </div>
  <app-eventcreator></app-eventcreator>
</div>

<!--
<div class="events-container">
  <h2>Welcome to the Events Dashboard!</h2>
  <div class="events-list">
    <ul class="events" *ngFor="let event of events">
      <li>
          <p><a>Name: {{event.name}}</a></p>
          <p>Address: {{event.address}}</p>
          <p>Time: {{event.time}}</p>
        <button class="delete" title="delete event"
        (click)="delete(event)">x</button>
      </li>
    </ul>
  </div>
</div> -->
