.event-entry-container {
  margin: 1em;
}

.card-title {
  margin-top: -1em;
  margin-left: 0.5em;
}

.card-content {
  margin-top: -1em;
  padding: 0 0 1em 1em !important;
}

.delete {
  float: right;
  font-size: 14px;
  color: #6f6f6f;
  display: inline-block;
  margin-right: 0.5em;
}